<footer class="border border-bottom-0 bg-light border-left-0 border-right-0 " >
    <div class="container pt-3 pb-4 pt-md-5">
        <div class="row">
            <div class="col-md-3 text-dark ">
                <div class="d-flex flex-colum">
                   
                </div>
            </div>
            <div class="col-md-9 text-dark align-items-center mt-3">
            </div>

            <div class="col-12 text-center text-muted mt-3">
                copyright  &copy; 2021-{{ now.Format "2006"}} <a class="text-muted" href="{{.Site.BaseURL}}">ashura</a></a>
            </div>
        </div>
    </div>
</footer>
<!-- <div class="d-flex mb-2 mt-1">
    <span class="material-icons d-inline text-kuning  mr-1 icon-sm">email</span>
    <p class="mb-0  d-inline mr-4 font-sm "> <a class="text-white" href="mailto:boksfisika@gmail.com">boksfisika@gmail.com</a></p>
</div> -->
