
<!DOCTYPE html>
<html>
    <head>
        {{ partial "head-custom-page.html" . }}
    </head>
    <style type="text/css" media="screen">
            h1, h2, h3, h4, h5, h6{
                margin: 0.9rem 0 !important;
            }
    </style>
    <body>

        {{ partial "nav.html" . }}

        <div class=" pt-5 container ">
            <div class="row md-py-5 ">
                <div class="col-lg-2">
                </div>
                <div class="col-sm-12 col-lg-8 border-md my-md-5 py-2">
                   <div class="card-body p-md-5">
                        <div class="post-content text-justify text-dark" >
                            {{ .Content }}
                        </div>
                            {{ partial "share.html" . }}
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>

       
        
            {{ partial "footer.html" . }}
            {{ partial "js-init.html" . }}
    </body>
</html>
